body {
    margin:0;
    background-image: url("https://images.freeimages.com/images/large-previews/a16/either-way-nature-always-wins-1641459.jpg");
    background-size: cover;
}
.title {
    text-align: center;
}
.section-form, .send {
    width: 340px;
    padding: 3rem;
    margin:0 auto;
    margin-top: 60px;
    margin-bottom: 60px;
    background: #fff;
    border-radius: 10px;
}

.send {
    display: none;
}
.form-row {
    margin-bottom:20px;
}
.form-label {
    display: block;
    font-family: sans-serif;
    margin-bottom:10px;
}
.form-control {
    padding:8px;
    width:300px;
    border-radius: 3px;
    border:1px solid #aaa;
}
.form-button {
    background: rgb(7, 70, 12);
    color: #fff;
    border:0;
    padding:20px 40px;
    border-radius: 7px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}
.error {
    font-family: sans-serif;
    color: rgb(255, 0, 0);
}
h1 {
    font-family: sans-serif;
    text-align: center;
}
.go-back {
    background-image: url("https://images.squarespace-cdn.com/content/v1/5d487b7c8f1b720001c0140f/1572649082309-1SK82NT7JHTU7X2Q5JBJ/Data+Backup.png");
    background-size: cover;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    cursor: pointer;
}